<!-- flexbox directives by aangular materail -->
<div class="welcome" 
fxLayout="column" fxLayout.gt-md="row" 
fxLayoutGap.gt-md="20px" fxLayoutAlign="center center"
>

<!-- flexbox added by using bootstrap css lib 4.1 -->
<div class="row p-3">
  <section class="col">
    <h1>Angular core Concept</h1>
    <p>Component, directive, pipes, view Encapsulation, data binding, service, etc</p>
  </section>
 
  <section class="col">
    <h1>Angular Advance </h1>
    <p> Forms, Routing, ng Module, RxJS, ngRx, Animation, angular-Universe</p>
  </section>

  <section class="col"> 
    <h1>httpClient and firebase backend</h1>
    <p>Http request, interceptor, response casting, etc</p>
  </section>

  <section class="col">
    <h1>Angular Material</h1>
    <p>mat-button,mat-spinner,etc</p>
  </section>
</div>



</div>
