<section>

  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (ngSubmit)="onSubmit(f)">

    <mat-form-field>
      <input type="email" matInput placeholder="Your email" name="email" ngModel #emailInput="ngModel" email required>
      <mat-error *ngIf="emailInput.hasError('required')">Field must not be empty.</mat-error>
      <mat-error *ngIf="!emailInput.hasError('required')">E-Mail is invalid.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="password" matInput placeholder="Your password" name="password" ngModel #pwInput="ngModel" required
        minlength="6">
      <mat-hint align="end">{{ pwInput.value?.length }} / 6</mat-hint>
      <mat-error>Password is missing</mat-error>
    </mat-form-field>

    <br>

    <div class="fa-input-red-theme">
      <fa-input id="password-field" icon="lock">
        <input placeholder="Password" class="test-class">
      </fa-input>
    </div>

    <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid"> Login</button>


  </form>

</section>